body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: rgb(58, 49, 78);
}

.app {
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

.status {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}


